body {
  background-color: #186B18;
}

.nav a {
  color: #FF4500;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;

}

.jumbotron {
  background-image:url('https://raw.githubusercontent.com/codefellows/sea-201d5/master/week-2/assets/campfire-coffee.jpg');
  height: 633px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #FF0D03;
  font-size: 48px;
  font-family: Courier;
  font-weight: bold;

}

.jumbotron p {
  image:url("https://lh6.googleusercontent.com/HIixvAnqSnta7dyn8MneZyYuzX9knsT7LULB1sBpOsJcFf4Bh_hJAVoGpufjRGhkacgHFw=w1416-h608");
  font-size: 54px;
  color: #FF4500;
}

.learn-more {
  background-color: #C23808;
  background-image:url('https://raw.githubusercontent.com/codefellows/sea-201d5/9b9b922c8e540a8afc869eaecc8b1ea5540b6f73/week-2/assets/campfire-family.jpg');
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.learn-more a {
  color: #FF4500;
}
p {
  font-size: 21px;
  color: #FFB700;
}
h3 {
  border: solid;
}
form {
  border:solid;

}
th,tr,td {
  border: solid;
}
p4 {
  font-size: 24px;
  color: #FFB700;
}

.jumbotron2 {
  background-image:url("https://raw.githubusercontent.com/codefellows/sea-201d5/9b9b922c8e540a8afc869eaecc8b1ea5540b6f73/week-2/assets/campsite-tent-night.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
}

.jumbotron2 .container2 {
  position: relative;
  top:100px;
}

  .jumbotron3 {
    background-image:url("https://raw.githubusercontent.com/codefellows/sea-201d5/9b9b922c8e540a8afc869eaecc8b1ea5540b6f73/week-2/assets/campfire.jpg" width="300" hieght="110");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid;
    /*padding: 14px 10px;*/
  }

  .jumbotron3 .container3 {
    position: float;
    top:100px;
}

p5 {
  font-size: 36px;
  color: black;

}

p6 {
  font-size: 21px;
  color: #FFB700;
}
