body {
  background-color: #186B18;
}

.nav a {
  color: #5E2B00;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;

}

.jumbotron {
  background-image:url('https://raw.githubusercontent.com/codefellows/sea-201d5/master/week-2/assets/campfire-coffee.jpg');
  height: 633px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #FF0D00;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;

}

.jumbotron p {
  font-size: 30px;
  color: #E23600;
}

.learn-more {
  background-color: #C23808;
  background-image:url('https://raw.githubusercontent.com/codefellows/sea-201d5/9b9b922c8e540a8afc869eaecc8b1ea5540b6f73/week-2/assets/campfire-family.jpg');
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.learn-more a {
  color: #FF4500;
}
p {
  font-size: 18px;
  color: #FFB700;
}
h3 {
  border: solid;
}
form {
  border:solid;

}
